[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fastapi = "~=0.75.0"
uvicorn = "*"
ormar = {version = "~=0.10.25", extras = ["sqlite"]}
orjson = "*"
alembic = "*"
cryptography = "*"
fastapi-crudrouter = "*"
asyncpg = "*"
psycopg2 = "*"
fastapi-websocket-pubsub = "==0.2.0"
fastapi-users = {version = "~=9.2.6", extras = ["ormar"]}
[dev-packages]

[requires]
python_version = "3.10"
