[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fastapi = "*"
uvicorn = "*"
ormar = {extras = ["sqlite"], version = "*"}
orjson = "*"
alembic = "*"
cryptography = "*"
fastapi-crudrouter = "*"
asyncpg = "*"
psycopg2 = "*"
fastapi-websocket-pubsub = "*"
fastapi-users = {version = "~=9.2.6", extras = ["ormar"]}

[dev-packages]

[requires]
python_version = "3.10"
